/* Tooltip.css */
.tooltip-container {
  position: relative;
  display: inline-block; /* Ensures the container wraps the trigger element */
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 60%; /* Position the tooltip above the text */
 right: 30%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
