.headM{
    width:100%;
    height:75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(142, 95, 34);
}
.Mh2{
    font-family:cursive;
    color:blue;
    font-weight: 800;
}
.btn{
width:90px;
height:35px;
border: none;
outline: none;
border-radius: 10px;
cursor: pointer;
background-color: rgba(72, 27, 93, 0.688);
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 800;
}
.btn:hover{
    background-color: aliceblue;
    color:rgba(81, 11, 101, 0.7);
}