body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  margin:10px 15px;
  padding:5px 8px;
  max-width:100vw;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-template-rows: 1fr auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  width:260px;
  height:auto;
  text-align: center;
}
.card img{
  width:100%;
  height:auto;
  border-radius: 10px;
}

.avatar{
  border-radius: 50%;
}
.details{
  width:200px;
  height:100%;
  text-align: center;
  font-family:monospace;
}
.thumbN img{ 
width:100%;
border-radius: 12px;
}
