@import "tailwindcss";

 /* @variant dark (&:where(.dark, .dark *));

html {
  transition: background-color 0.4s ease, color 0.4s ease;
}
html.dark {
  color-scheme: dark;
}  */
  body{
    width:100%;
  }
  .container{
    max-width: 1280px;
    height: full;
    margin:0 auto;
    padding:0 1rem;
    box-sizing: border-box;
  }
 body.dark,option{
    background-color: #27272a !important;
    color:white !important;
  }

body.light,option{
    background-color: white !important;
    color:#27272a !important;
  }

