.toggle {
  width: 58px;
  height: 30px;
  background: #000;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: background 0.35s ease;
}

.toggle.active {
  background: #7c3aed;
}

/* knob */
.circle {
  width: 22px;
  height: 22px;
  background: #facc15;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;

  transition:
    transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    box-shadow 0.3s ease;
}

/* slide animation */
.toggle.active .circle {
  transform: translateX(28px);
  box-shadow: 0 0 10px #facc15;
}

/* click press effect */
.toggle:active .circle {
  transform: scale(0.9);
}

