

.card{
    max-width:260px;
    height:300px;
    padding:8px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: inset;
    box-shadow: 2px 5px 24px rgba(0,0,0,0.2);
}
.card-top img{
    width:40px;
    border-radius: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.card-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;;
}
.card-top button{
    width:auto;
    height:max-content;
     display: flex;
     gap:10%
}
.card-center{
    width:100%;
    height: auto;
    margin-bottom: 40%;
}
.cenTop{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap:4px;
}
.cenTop h3{
    display: inline;
    margin: 0;
    font-weight: 600;
    color:rgb(70, 68, 68);
}
.cenTop span{
    margin-top: 10.5px;
    font-size: 10px;
    color:grey;
    font-family:sans-serif;
}
.cenMed h2{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:rgb(50, 50, 50);
margin-block: 5px;
font-size: 18px;
}
.cenBtm{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color:rgb(59, 57, 57);
    display: flex;
    gap:13px;
    margin-top: 5px;
}
.cenBtm span{
    background-color: rgb(224, 222, 222);
    border-radius: 6px;
    padding:3px
}
.card-btm{
    display: flex;
    justify-content: space-between;
}
.btm-line{
   display: flex;
   flex-direction: column;
}
.btm-line span:nth-child(1){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(46, 46, 46);
    font-size:17px;
    font-weight: 600;
}
.btm-line span:nth-child(2){
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
    color:rgb(89, 89, 89);
    font-weight: 600;
    margin-left: 3px;
}

.aply-btn{
width:100px;
height: auto;
background-color: rgb(33, 32, 32);
color:rgb(215, 207, 207);
border-radius: 10px;
font-family:Arial, Helvetica, sans-serif;
font-weight: 600;
}