body{
  width:100vw;
  height: 100%;
  background-color:#ffffff;
  color:white;
}


#parent{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:20px;
  padding:10px 20px;
  margin:10px
}
#header{
  display: block;
  padding:5px 6px;
  border-radius: 4px;
  background-color: rgb(13, 13, 13);
}
#root{
    width:100%;
    height: auto;
    background-color: rgb(23, 19, 39);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px , 1fr));
    row-gap:20px;
    color:rgb(0, 0, 0);
}
