:root{
    background-color: rgba(0, 0, 0, 0.647);
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
width: 170px;
height: 50px;
padding: 5px;
mask-border-mode: alpha;
background-origin: padding-box;
border-radius: 8px;
color: white;
background: #842e2e;
margin: 10px;
}

h2{
position: relative;
left:160px;
top:10px;
padding: 2px;
ruby-overhang: auto;
text-size-adjust: inherit;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 800;
}